#allowance-input {
  min-width: 400px;
  width: 400px !important;
}

.add-allowance-form {
  margin-bottom: 50px;
}

.add-allowance-form > Button {
  height: 56px;
  margin-left: 10px;
}

.edit-icon:hover {
  color: #3f51b5;
  cursor: pointer;
}
